.bg-sdm-black {
  background-color: black;
  font-family: "Nanum Myeongjo", serif;

}
.sdm-about-section p{
font-size: 16px;
line-height: 28px;
}
.h3{
  font-size: 40px;
}
.contact-section{
  background-image: url(../images/footer-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.contact-box .form-control{
height: 50px;
}

.contact-box textarea.form-control{
height: 150px;
}
 